header {
    background-color: #373838;
    color: #88BBD0;
    padding: lem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #909090;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.7rem 0.7rem;
    text-decoration: none;
}

li a:hover {
    background-color: #373838;
}

body {
    font-family: 'Comfortaa', cursive;
}

footer {
    background-color: #373838;
    color: #88BBD0;
    padding: 0.7rem;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}